<!-- Заголовок -->
<meta charset="UTF-8">
<title>Я!</title>
<link href="/styles/index.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
<script src="/scripts/index.js"></script>