<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head }}
</head>
<body>

<nav style="background: green">
  <ul class="nav__menu__left">
    <li>
      <a href="/">Я!</a>
    </li>
  </ul>

  <ul class="nav__menu__right">
    <li><a href="#" class="nav__menu__active">TODO</a></li>
    <li><a href="users">Users</a></li>
  </ul>
</nav>

<form class="form">
  <label><input class="input" type="text" placeholder="Вставить"></label>
  <button type="submit">Добавить</button>
</form>
<ul class="items">
</ul>

</body>
<script src="../js/todo.js"></script>
</html>