<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head }}
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
</head>
<body>

<nav style="background: green">
  <ul class="nav__menu__left">
    <li>
      <a href="me" class="nav__menu__active">Я!</a>
    </li>
  </ul>

  <ul class="nav__menu__right">
    <li><a href="todo">TODO</a></li>
    <li><a href="#">Users</a></li>
  </ul>
</nav>

<main>
  <button id="load_users">
    Загрузить рандомного пользователя
  </button>
</main>

<footer>
  {{> footer }}
</footer>

</body>
<script src="/scripts/users.js"></script>
<script src="https://unpkg.com/notie"></script>
<script>notie.alert({type: 1, text: "Привет на моем сайте!"})</script>
</html>